.footer__copyright {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 596px) {
  .footer__copyright {
    align-self: flex-start;
  }
}
@media screen and (max-width: 372px) {
  .footer__copyright {
    line-height: 14px;
  }
}

