.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraphs";
  row-gap: 48px;
  column-gap: 40px;
  justify-items: start;
}

@media screen and (max-width: 1116px) {
  .place {
    grid-template-columns: 440px minmax(min-content, max-content);
    column-gap: 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: 340px minmax(min-content, max-content);
    column-gap: 28px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraphs";
    row-gap: 32px;
  }
}
