.intro__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 54px;
  line-height: 58px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 40px;
}

@media screen and (max-width: 596px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
